---
import { YouTube } from "astro-embed";

const { title, description, videoId, reverse } = Astro.props;
---

<section id={title} class="bg-black pb-4 md:py-12 lg:py-0">
  <div
    class={`mx-auto flex items-center justify-center gap-9 md:gap-12 flex-wrap max-w-7xl ${
      reverse ? "md:flex-row-reverse" : "md:flex-row"
    }`}
  >
    <div class="w-full md:w-1/3 pt-16 md:py-0 px-2 md:px-0">
      <h2
        class={`mt-2 text-4xl font-bold tracking-tight leading-tighter text-accent-300 text-center px-3 md:px-0 ${
          reverse ? "md:text-left" : "md:text-right"
        }`}
      >
        {title}
      </h2>
      {
        description && (
          <p
            class={`text-gray-300 mt-4 text-base px-3 md:px-0 text-center ${reverse ? "md:text-left" : "md:text-right"}`}
          >
            {description}
          </p>
        )
      }
    </div>
    <div
      class="w-full md:w-1/2 flex justify-center aspect-square lg:aspect-auto"
    >
      <YouTube
        id={videoId}
        class="w-full h-auto"
        params="start=0"
        posterQuality="max"
      />
    </div>
  </div>
</section>
